<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" name="MyApp" packages="">
    <Appenders>
        <RollingFile name="RollingFile" fileName="logs/hippodrome.log"
                     filePattern="logs/hippodrome.%d{MM-dd-yyyy}.log.gz">
            <PatternLayout>                                       <!--Формирует то, как будет сообщение выводиться в лог-->
                <Pattern>%d %p %c{1.} [%t] %m%n
                </Pattern>         <!--дата время   уровень сообщения   что-то     название потока    сообщение     и перевод строки-->
            </PatternLayout>
            <DefaultRolloverStrategy>
                <Delete basePath="logs" maxDepth="1">
                    <IfFileName glob="hippodrome.*.log.gz"/>
                    <IfLastModified age="7d"/>
                </Delete>
            </DefaultRolloverStrategy>
            <Policies>
                <!--                <TimeBasedTriggeringPolicy/>-->
                <TimeBasedTriggeringPolicy interval="1"/>      <!--Каждый день создаёт новый файл-->
                <SizeBasedTriggeringPolicy size="250 MB"/>
            </Policies>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Root level="trace">
            <AppenderRef ref="RollingFile"/>
        </Root>
    </Loggers>
</Configuration>

